
body {
  background-color: darkgreen;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}


#leftPaddle {
  width: 20px;
  height: 80px;
  background-color: blue;
  position: absolute;
  top: 170px;
  left: 0;
  border-radius: 10px;
}

#rightPaddle {
  width: 20px;
  height: 80px;
  background-color: rgb(255, 0, 0);
  position: absolute;
  top: 170px;
  left: 412px;
  border-radius: 10px;
}

#ball {
  width:20px;
  height:20px;
  border-radius: 10px;
  background-color: wheat;
  position: absolute;

  

  top: 170px;
  left: 210px;
}
#scoreboard {
  position: absolute;
  color: white;
  font-family: "Times New Roman", Times, serif;
left: 210px;

}

#reset-button {
  color: white;
  background-color: black;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

#reset-button:hover {
  background-color: darkgreen;
}