
body {
  background-color: darkgreen;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}


#leftPaddle {
  width: 20px;
  height: 80px;
  background-color: blue;

  position: absolute;
  top: 170px;
  left: 0px;
  border-radius: 10px;
}

#rightPaddle {
  width: 20px;
  height: 80px;
  background-color: rgb(255, 0, 0);

  position: absolute;
  top: 170px;
  left: 420px;
  border-radius: 10px;
}

#ball {
  width:20px;
  height:20px;
  border-radius: 10px;
  background-color: wheat;
  position: absolute;

  top: 170px;
  left: 210px;
}
#scoreboard {
  position: absolute;
  color: white;
  font-family: "Times New Roman", Times, serif;
left: 210px;

}
